<h1>List About</h1>
<table  >
    <thead>
      <tr>
        <th>NO</th>
        <th width="10%">TITTLE ABOUT</th>
        <th>CONTENT ABOUT</th>
        <th>IMAGE ABOUT</th>
        <th width="10%">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <% let x=1 %>
      <%for (i=0; i< dataAbout.length; i++ ){ %>
        <tr>
          <td><%= x++ %></td>
          <td><%= dataAbout[i].judul_about %></td>
          <td><%- dataAbout[i].isi_about.replace(/(\n)/g, '<br>').replace(/(\r\n)/g, '<br>') %></td>
          <td><a href="<%= dataAbout[i].img_about %>"><%= dataAbout[i].img_about %></a></td>
          <td class="edit-delete" >||<a href="/about-admin-byId<%= dataAbout[i].id_about %>">&nbsp;edit&nbsp;</a>||<a href="/deleteAbout/<%= dataAbout[i].id_about %>">&nbsp;delete&nbsp;</a>||</td>
        </tr>
        <%}%>
    </tbody>
  </table>
  <br><br>
  <h1>List Visi Misi</h1>
  <br>
  <table>
    <thead>
      <tr>
        <th>NO</th>
        <th>VISI</th>
        <th>MISI</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <% let x1=1 %>
      <%for (i=0; i< dataVisiMisi.length; i++ ){ %>
        <tr>
          <td><%= x1++ %></td>
          <td><%= dataVisiMisi[i].visi %></td>
          <td><%- dataVisiMisi[i].misi.replace(/(\n)/g, '<br>').replace(/(\r\n)/g, '<br>') %></td>
          <td class="edit-delete">||<a href="/visi-misi-admi-byId<%= dataVisiMisi[i].id_visi_misi %>">&nbsp;edit&nbsp;</a>||
            <a href="/delete-visi-misi/<%= dataVisiMisi[i].id_visi_misi %>">&nbsp;delete&nbsp;</a>||
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
  <br><br>
  <h1>List Contact</h1>
  <br>
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>TELEPHONE</th>
        <th>ALAMAT</th>
        <th>EMAIL</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <% let y=1 %>
      <%for (i=0; i< dataContact.length; i++ ){ %>
        <tr>
          <td><%= y++ %></td>
          <td><%= dataContact[i].telephone %></td>
          <td><%= dataContact[i].alamat_contact %></td>
          <td><%= dataContact[i].email_contact %></td>
          <td class="edit-delete" >||<a href="/contact-admin-byId<%= dataContact[i].id_contact %>">&nbsp;edit&nbsp;</a>||
            <a href="/delete-contact/<%= dataContact[i].id_contact %>">&nbsp;delete&nbsp;</a>||
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
  
