<h1>Ini Halaman Contact

</h1>
<table width="100%">
    <tr width="100%">
        <td width="70%">
            <h1>Address and Phone</h1><br><br><br>
            <p> Telephone: <%= dataContact[0].telephone %>
            </p><br><br><br>
            <p> alamat: <%= dataContact[0].alamat_contact %>
            </p><br><br><br>
            <p> email: <%= dataContact[0].email_contact %>
            </p>
            <br>
        </td>
        <td valign="top">
            <h1>business hours</h1><br><br><br>
            <%for (a=0; a< dataWork.length; a++ ){%>
                <p>
                    <%= dataWork[a].days %>&nbsp;&nbsp;<%= dataWork[a].work_hours %>
                </p>
                <br>
                <% };%>
        </td>
    </tr>


</table>